* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.fa-thin {
   color: beige;
   height: 2rem;
}
.backgraund{
    height: 100vh;
    background-image: url(indir.jpg);
    background-repeat: no-repeat, repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.durumbox {
    box-shadow: 10px, 10px, 10px, 10px;
    position: absolute;
    top: 10%;
    left: 20%;
    text-align: center;
    height: 80vh;
    width: 60%;
    background-color: rgba(93, 94, 102, 0.5);
    border-radius: 15px;
   
}

h2 {
    margin: 3rem;
    font-size: 2rem;
    color:white;
   
}

.girdi {
    margin-top: 2rem;
    width: 100%;
    
}
 .girdi input {
    background-color: rgb(225, 213, 213);
    height: 3rem;
    border-radius: 15px;
    width: 70%;
    border: none;
    padding: 10px;
    outline: none;
    font-size: 20px;
    margin: 20px;
    
 }

 .girdi button {
    width: 5rem;
    height: 2.5rem;
    border-radius: 15px;
    border: none;
    background-color: coral;
    margin: 1rem;
    font-weight: 700;
    font-size: 1rem;
 }

 .girdi button:hover {
    box-shadow: 0px 0px 30px #dacfcf;
 }

 .girdi input:hover {
    box-shadow: 0px 0px 30px #6a4646;  
 }
 .çıktı {
    display: flex;
    gap: 1%;
    
 }

 .card {
    margin: 0.8rem;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 17rem;
    background-color: rgba(236, 139, 12, 0.3);
    box-shadow: 0px 0px 30px #bfa1a1;
 }

 .name {
    font-size: 2rem;
    font-weight: 500rem;
    color:whitesmoke;
 }
 .temp {
    font-size: 1.5rem;
    font-weight: bold;
    color: rgb(108, 7, 24);
 }

 .card-text {
  
    margin-top: 5%;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
    text-align: center;
    font-size: 1.3rem;
    color: antiquewhite;
 }
 .dlt {
    width: 30px;
    height: 30px;
    margin: auto;
    color: red;
    background-color: rgb(210, 197, 197);
    border-radius: 50%;
    border-style: none;
    font-size: 1.1rem;
    
 }

 @media screen and (min-width: 520px) and (max-width: 870px){
    .durumbox {
      flex-wrap: wrap;
        overflow: auto;
        height: 88vh;
        width: 60%;
    }
    .card-text {
        margin-top: 2%;
        display: flex;
        flex-direction: column;
        gap: 0.8rem;
        text-align: center;
        font-size: 1.3rem;
        color: antiquewhite;
     }
 .çıktı {
   display: flex;
   flex-direction: column;
   align-items: center;
 }
 .card {
    width: 60%;
    height: 17rem;
    
 }
 .girdi {
    margin-top: 1rem;
    width: 100%;
    
}
 .girdi input {
    margin: 20px;
 }
 .dlt {
    margin-top: 50px;
    margin: auto;
    font-size: 1.1rem; 
 }
 }
 @media screen and (max-width: 520px) {
    h2 {
        margin: 0.5rem;  
    }
    .girdi input {
        margin: 10px;  
     }
     .çıktı {
        display: flex;
        flex-direction: column;
        gap: 5%;
        
        align-items: center;
     }
     .card {
        width: 80%;
        height: 17rem;
        
     }
     
     .name {
      font-size: 1.7rem;
     }
     .durumbox {
        flex-wrap: wrap;
        overflow: auto;
        height: 88%;
        width: 60%;
       
    }
 }